@using System.Collections.Generic
@using System.Reflection
@using Posts;
@using DataService;

<div>
    <h3 style="color: white">CategoryMenu</h3>
    <br />
    @foreach (var post in posts)
    {
        {
            <h5 style="color: white">@post.Category</h5>
        }
    }
</div>

@code {
    //public List<PostMetadata> posts = Posts.PostMetadata.GetPostsMetadata();
    public List<PostMetadata> posts = DataService.PostsService.GetPostsMetadata();
}
