@page "/"

<div>
    <div>
        <h1>A site dedicated to making you a more well-rounded person</h1>

        <h3>Random knowledge can be powerful, especially if you know a little about a whole lot of subjects that commonly arise in conversation. Read these blog posts and you will become the smartest person ever.</h3>
    </div>

    <div>
        <CurrentPosts />
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />