@import '';

/* _content/WellRounded.Server/Pages/Index.razor.rz.scp.css */
body[b-m2jtmmlb2f] {
}

h1[b-m2jtmmlb2f] {
    color: blue;
}
/* _content/WellRounded.Server/Pages/Posts/TestPost1.razor.rz.scp.css */
body[b-pjvg0inr4s] {
    background: blue;
}

[b-pjvg0inr4s] p {
    color: blue;
    background: red
}

.test[b-pjvg0inr4s] {
    font-size: 4px;
}
